<% include header %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form class="form-date form-inline" method="POST" action="/viewloadedluggage">
				<h3 class="text-muted">View loaded luggage</h3>
		    <input type="text" class="form-control input-lg" placeholder="Loading Date" name="bookingdate">
		    <button type="submit" class="btn btn-default btn-lg btn-primary btn-block">Go</button>
		  </form>
		</div>

	</div>
<% include footer %>